.material-icons.md-1 { font-size: 1px; }
.material-icons.md-2 { font-size: 2px; }
.material-icons.md-3 { font-size: 3px; }
.material-icons.md-4 { font-size: 4px; }
.material-icons.md-5 { font-size: 5px; }
.material-icons.md-6 { font-size: 6px; }
.material-icons.md-7 { font-size: 7px; }
.material-icons.md-8 { font-size: 8px; }
.material-icons.md-9 { font-size: 9px; }
.material-icons.md-10 { font-size: 10px; }
.material-icons.md-11 { font-size: 11px; }
.material-icons.md-12 { font-size: 12px; }
.material-icons.md-13 { font-size: 13px; }
.material-icons.md-14 { font-size: 14px; }
.material-icons.md-15 { font-size: 15px; }
.material-icons.md-16 { font-size: 16px; }
.material-icons.md-17 { font-size: 17px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-19 { font-size: 19px; }
.material-icons.md-20 { font-size: 20px; }
.material-icons.md-21 { font-size: 21px; }
.material-icons.md-22 { font-size: 22px; }
.material-icons.md-23 { font-size: 23px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-25 { font-size: 25px; }
.material-icons.md-26 { font-size: 26px; }
.material-icons.md-27 { font-size: 27px; }
.material-icons.md-28 { font-size: 28px; }
.material-icons.md-29 { font-size: 29px; }
.material-icons.md-30 { font-size: 30px; }
.material-icons.md-31 { font-size: 31px; }
.material-icons.md-32 { font-size: 32px; }
.material-icons.md-33 { font-size: 33px; }
.material-icons.md-34 { font-size: 34px; }
.material-icons.md-35 { font-size: 35px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-37 { font-size: 37px; }
.material-icons.md-38 { font-size: 38px; }
.material-icons.md-39 { font-size: 39px; }
.material-icons.md-40 { font-size: 40px; }
.material-icons.md-41 { font-size: 41px; }
.material-icons.md-42 { font-size: 42px; }
.material-icons.md-43 { font-size: 43px; }
.material-icons.md-44 { font-size: 44px; }
.material-icons.md-45 { font-size: 45px; }
.material-icons.md-46 { font-size: 46px; }
.material-icons.md-47 { font-size: 47px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-49 { font-size: 49px; }
.material-icons.md-50 { font-size: 50px; }
.material-icons.md-51 { font-size: 51px; }
.material-icons.md-52 { font-size: 52px; }
.material-icons.md-53 { font-size: 53px; }
.material-icons.md-54 { font-size: 54px; }
.material-icons.md-55 { font-size: 55px; }
.material-icons.md-56 { font-size: 56px; }
.material-icons.md-57 { font-size: 57px; }
.material-icons.md-58 { font-size: 58px; }
.material-icons.md-59 { font-size: 59px; }
.material-icons.md-60 { font-size: 60px; }
.material-icons.md-61 { font-size: 61px; }
.material-icons.md-62 { font-size: 62px; }
.material-icons.md-63 { font-size: 63px; }
.material-icons.md-64 { font-size: 64px; }
.material-icons.md-65 { font-size: 65px; }
.material-icons.md-66 { font-size: 66px; }
.material-icons.md-67 { font-size: 67px; }
.material-icons.md-68 { font-size: 68px; }
.material-icons.md-69 { font-size: 69px; }
.material-icons.md-70 { font-size: 70px; }
.material-icons.md-71 { font-size: 71px; }
.material-icons.md-72 { font-size: 72px; }
.material-icons.md-73 { font-size: 73px; }
.material-icons.md-74 { font-size: 74px; }
.material-icons.md-75 { font-size: 75px; }
.material-icons.md-76 { font-size: 76px; }
.material-icons.md-77 { font-size: 77px; }
.material-icons.md-78 { font-size: 78px; }
.material-icons.md-79 { font-size: 79px; }
.material-icons.md-80 { font-size: 80px; }
.material-icons.md-81 { font-size: 81px; }
.material-icons.md-82 { font-size: 82px; }
.material-icons.md-83 { font-size: 83px; }
.material-icons.md-84 { font-size: 84px; }
.material-icons.md-85 { font-size: 85px; }
.material-icons.md-86 { font-size: 86px; }
.material-icons.md-87 { font-size: 87px; }
.material-icons.md-88 { font-size: 88px; }
.material-icons.md-89 { font-size: 89px; }
.material-icons.md-90 { font-size: 90px; }
.material-icons.md-91 { font-size: 91px; }
.material-icons.md-92 { font-size: 92px; }
.material-icons.md-93 { font-size: 93px; }
.material-icons.md-94 { font-size: 94px; }
.material-icons.md-95 { font-size: 95px; }
.material-icons.md-96 { font-size: 96px; }
.material-icons.md-97 { font-size: 97px; }
.material-icons.md-98 { font-size: 98px; }
.material-icons.md-99 { font-size: 99px; }
.material-icons.md-100 { font-size: 100px; }
.material-icons.md-101 { font-size: 101px; }
.material-icons.md-102 { font-size: 102px; }
.material-icons.md-103 { font-size: 103px; }
.material-icons.md-104 { font-size: 104px; }
.material-icons.md-105 { font-size: 105px; }
.material-icons.md-106 { font-size: 106px; }
.material-icons.md-107 { font-size: 107px; }
.material-icons.md-108 { font-size: 108px; }
.material-icons.md-109 { font-size: 109px; }
.material-icons.md-110 { font-size: 110px; }
.material-icons.md-111 { font-size: 111px; }
.material-icons.md-112 { font-size: 112px; }
.material-icons.md-113 { font-size: 113px; }
.material-icons.md-114 { font-size: 114px; }
.material-icons.md-115 { font-size: 115px; }
.material-icons.md-116 { font-size: 116px; }
.material-icons.md-117 { font-size: 117px; }
.material-icons.md-118 { font-size: 118px; }
.material-icons.md-119 { font-size: 119px; }
.material-icons.md-120 { font-size: 120px; }
.material-icons.md-121 { font-size: 121px; }
.material-icons.md-122 { font-size: 122px; }
.material-icons.md-123 { font-size: 123px; }
.material-icons.md-124 { font-size: 124px; }
.material-icons.md-125 { font-size: 125px; }
.material-icons.md-126 { font-size: 126px; }
.material-icons.md-127 { font-size: 127px; }
.material-icons.md-128 { font-size: 128px; }
.material-icons.md-129 { font-size: 129px; }
.material-icons.md-130 { font-size: 130px; }
.material-icons.md-131 { font-size: 131px; }
.material-icons.md-132 { font-size: 132px; }
.material-icons.md-133 { font-size: 133px; }
.material-icons.md-134 { font-size: 134px; }
.material-icons.md-135 { font-size: 135px; }
.material-icons.md-136 { font-size: 136px; }
.material-icons.md-137 { font-size: 137px; }
.material-icons.md-138 { font-size: 138px; }
.material-icons.md-139 { font-size: 139px; }
.material-icons.md-140 { font-size: 140px; }
.material-icons.md-141 { font-size: 141px; }
.material-icons.md-142 { font-size: 142px; }
.material-icons.md-143 { font-size: 143px; }
.material-icons.md-144 { font-size: 144px; }
.material-icons.md-145 { font-size: 145px; }
.material-icons.md-146 { font-size: 146px; }
.material-icons.md-147 { font-size: 147px; }
.material-icons.md-148 { font-size: 148px; }
.material-icons.md-149 { font-size: 149px; }
.material-icons.md-150 { font-size: 150px; }
.material-icons.md-151 { font-size: 151px; }
.material-icons.md-152 { font-size: 152px; }
.material-icons.md-153 { font-size: 153px; }
.material-icons.md-154 { font-size: 154px; }
.material-icons.md-155 { font-size: 155px; }
.material-icons.md-156 { font-size: 156px; }
.material-icons.md-157 { font-size: 157px; }
.material-icons.md-158 { font-size: 158px; }
.material-icons.md-159 { font-size: 159px; }
.material-icons.md-160 { font-size: 160px; }
.material-icons.md-161 { font-size: 161px; }
.material-icons.md-162 { font-size: 162px; }
.material-icons.md-163 { font-size: 163px; }
.material-icons.md-164 { font-size: 164px; }
.material-icons.md-165 { font-size: 165px; }
.material-icons.md-166 { font-size: 166px; }
.material-icons.md-167 { font-size: 167px; }
.material-icons.md-168 { font-size: 168px; }
.material-icons.md-169 { font-size: 169px; }
.material-icons.md-170 { font-size: 170px; }
.material-icons.md-171 { font-size: 171px; }
.material-icons.md-172 { font-size: 172px; }
.material-icons.md-173 { font-size: 173px; }
.material-icons.md-174 { font-size: 174px; }
.material-icons.md-175 { font-size: 175px; }
.material-icons.md-176 { font-size: 176px; }
.material-icons.md-177 { font-size: 177px; }
.material-icons.md-178 { font-size: 178px; }
.material-icons.md-179 { font-size: 179px; }
.material-icons.md-180 { font-size: 180px; }
.material-icons.md-181 { font-size: 181px; }
.material-icons.md-182 { font-size: 182px; }
.material-icons.md-183 { font-size: 183px; }
.material-icons.md-184 { font-size: 184px; }
.material-icons.md-185 { font-size: 185px; }
.material-icons.md-186 { font-size: 186px; }
.material-icons.md-187 { font-size: 187px; }
.material-icons.md-188 { font-size: 188px; }
.material-icons.md-189 { font-size: 189px; }
.material-icons.md-190 { font-size: 190px; }
.material-icons.md-191 { font-size: 191px; }
.material-icons.md-192 { font-size: 192px; }
.material-icons.md-193 { font-size: 193px; }
.material-icons.md-194 { font-size: 194px; }
.material-icons.md-195 { font-size: 195px; }
.material-icons.md-196 { font-size: 196px; }
.material-icons.md-197 { font-size: 197px; }
.material-icons.md-198 { font-size: 198px; }
.material-icons.md-199 { font-size: 199px; }
.material-icons.md-200 { font-size: 200px; }
