html, body {
  height: 100vh;
  width: 100vw;
}

div.pali {
    /* width: 100vw; */
    /* height: 80vh; */
    padding: 10px;
    margin: 0px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height:1;
    text-transform: capitalize;
    text-align:center;
}

p.light {
    padding: 7px;
    margin: 0px;
    font-family: 'Times New Roman', serif;
    color: white;
    font-size: 15px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 5px;
}

p.dark {
    padding: 7px;
    margin: 0px;
    font-family: 'Times New Roman', serif;
    color: black;
    font-size: 15px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 5px;
}
